.card-container {
    flex-flow: wrap;
    padding: 15px;
    max-height: 600px;
    overflow: auto;
    justify-content: space-around;
}

.show-list {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #C8C8C880;
    border: 0.5px solid #C8C8C880;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 20px;
    padding: 20px;
    >h3,
    p {
        color: #3E3E3E;
        font-family: cursive;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .buy-div {
        >button {
            background: #1D71D4 0% 0% no-repeat padding-box;
            border-radius: 5px;
            border: none;
            color: white;
            height: 34px;
            padding-inline: 17px;
            margin-block: auto;
            margin-left: auto;
            cursor: pointer;
        }
    }
}

.selectedCat {
    background: #282828;
    color: white;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


/* width */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}